#article{
	margin-left: 200px; 
}
table{
	background-color: #eee;
	margin-top:70px;
	width : 35%;
}
td {
	padding: 10px;	
}

button{
	background-color: #4caf50;
	width:40%;
	padding:6px;
}
input{
	padding: 5px;
}