<div id="article">
  <div id="subContent">
      <form action="/action_page.php">
        <table align="center">
            <tr>
              <td><label for="uname"><b>FirstName :</b></label></td>
              <td><input type="text" placeholder="Enter FirstName" name="fname" ></td>
            </tr>
            <tr>
                <td><label for="uname"><b>LastName :</b></label></td>
                <td><input type="text" placeholder="Enter LastName" name="lname" ></td>
            </tr>
            <tr>
                <td><label for="uname"><b>Country :</b></label></td>
                <td><input type="text" placeholder="Enter Location" name="country" ></td>
            </tr>
            <tr>
              <td> <label for="psw"><b>Password</b></label></td>
              <td><input type="password" placeholder="Enter Password" name="psw" ></td>
            </tr>
            <tr>
                <td> <label for="psw"><b>Confirm Password :</b></label></td>
                <td><input type="password" placeholder="Enter Password again" name="cnfPsw" ></td>
            </tr>
            <tr>
                  <td> <label for="psw"><b>Miralce Location :</b></label></td>             
              <td>
                  <select>
                      <option value="mvalley">Miralce Valley</option>
                      <option value="mheights">Miralce Heights</option>
                      <option value="mcity">Miracle City</option>
                    </select>
              </td>
            </tr>
            <tr style="text-align: center">
              <td colspan="2">
                  <button type="submit">Login</button>
              </td>
                
            </tr>
        </table>
      </form>
  </div>  
</div>