<div id="article">
  <label>Name : </label>
  <input type="text" #name (keyup)="change(name.value)" />
  <p>In lowercase : {{value | lowercase}}</p>
  <p>In uppercase : {{value | uppercase}}</p>
  <p>In titlecase : {{value | titlecase}}</p>

  <h3>Date pipe demo</h3>
  <p>{{todayDate}}</p>
  <p>{{todayDate | date }}</p>
  <p>{{todayDate | date : 'd/M/y'}}</p>
  <p> {{todayDate | date : 'shortTime'}}</p>

  <p>this is a test string </p>
  <p> {{"this is a another test string" | reverse : true : "singlequote"}}</p>
  <p> {{"this is a another test string" | reverseString }}</p>

</div>