#content{
	
	height: 500px;
	overflow-y: scroll;
	margin:20px 0px 0px 250px;
}
.text-success{
	color: green;	
}
.text-danger{
	color: red;	
}
.text-special{
	font-style: italic;
}
h3{
	color: purple;
	border: 2px solid black;
}