<!-- <router-outlet></router-outlet> -->
<app-header></app-header>
<app-side-nav></app-side-nav>
<!-- <app-content></app-content> -->
 <!-- <app-data-binding-demo></app-data-binding-demo>  -->
<!-- <app-directives-demo></app-directives-demo> -->
<!-- <app-parent></app-parent>> -->
<!-- <app-crud></app-crud> -->
<!-- <app-pipe-demo></app-pipe-demo> -->
<div id="content">
    <!-- <p>{{msgfromChild}}</p> -->
    <app-view-component></app-view-component>
</div>
<!--<app-child></app-child> -->
<!-- <app-string-interpolation></app-string-interpolation> -->

<app-footer></app-footer>                  
